@using FunWithFood.ViewModels
@{
    ViewData["Title"] = "Foods";
}

@{
    bool isUserAuthenticated = Context.Request.Cookies["AuthToken"] != null && ViewBag.IsTokenValid;
}

@model List<FoodDisplayViewModel>

<div class="text-center mx-auto">
    <div class="text-center mx-auto" style="width: 18rem;">
        <h1 class="display-4 header-font">Foods!</h1>
    </div>
    <div class="form-group mb-3 mx-auto mt-2" style="max-width: 200px;">
        <select id="cuisineFilter" class="form-select text-center mx-auto text-font" asp-items="ViewBag.CuisineList">
            <option value="">All</option>
        </select>

    </div>
    <div class="container d-flex flex-row flex-wrap justify-content-start mx-auto">
        @{
            foreach (FoodDisplayViewModel food in Model)
            {
                <div class="card food-card mx-auto border border-2 rounded border-dark" style="max-width: 18rem;" data-cuisine="@food.CuisineType">
                    <div style="width: 18rem; height: 200px">
                        <img src="data:image/jpeg;base64,@food.ImageBase64" alt="Food Image" class="card-img-top food-image">
                    </div>


                    <div class="card-body" style="max-width: 18rem;">
                        <h5 class="card-title">@food.Name</h5>
                        <p class="card-text">@food.CuisineType</p>
                        @if (isUserAuthenticated)
                        {
                            <a asp-controller="Food" asp-action="EditFoodPage" asp-route-id="@food.Id" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                            <a asp-controller="Food" asp-action="DeleteFood" asp-route-id="@food.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                        }
                    </div>
                </div>
            }
        }

    </div>
    @if (isUserAuthenticated)
    {
        <div class="text-center mt-2">
            <form asp-controller="Food" asp-action="AddFoodPage" method="get">
                <button type="submit" class="btn btn-primary">Add New Food!</button>
            </form>
        </div>
    }
    
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    $(function() {
        
        $('#cuisineFilter').on('change', function () {
            const selectedCuisine = $(this).val();

            $('.food-card').each(function () {
                const cardCuisine = $(this).data('cuisine');
                if (selectedCuisine === "" || cardCuisine === selectedCuisine) {
                    $(this).show();
                } else {
                    $(this).hide();
                }
            });
        });
    })
 
</script>